<div class="block-main">
    <div class="block-central">
        <div class="container">

            <div id="title">
                 <h1>Sign in</h1>
            </div>

            <div></div>

            <div class="form">
                
                    <div id="input">
                        <input type="text" name="username" placeholder="Name" [(ngModel)]= "userAuth.username" >
                    </div>

                    <div id="input">
                        <input type="password" name="password" placeholder="Password" [(ngModel)]="userAuth.password" >
                    </div>

                    

                    <div class="btn">
                        <button (click)="signin()">Sign in </button>
                    </div>
                
            </div>

            <div class="signin">
                 <h4>You do not have an account? <a href="" routerLink="/signup">Sign up</a></h4>
            </div>

            <div></div>
        </div>
    </div>
</div>
