<div class="block-base">
    <div class="block-central">
        <div class="container">
            <div id="header">
                <h1>Item Database</h1>
            </div>
            <div class="options">
                <div class="btn">
                    <button (click)="update=false; add=true; delete=false ;deleteInput()">añadir Item</button>
                </div>
                <div class="btn">
                    <button (click)="update=true; add=false; delete=false ">update Item</button>
                </div>
                <div class="btn">
                    <button (click)="delete=true; add=false; update=false ">delete Item</button>
                </div>
            </div>

            <div class="form">

                <div id="input" *ngIf="update || delete" >
                    <input type="text" name="itemName" placeholder="id del item" [(ngModel)]= "id">
                </div>

                <div class="btn-2" *ngIf="update || delete">
                    <button (click)="findItem()">buscar</button>
                </div>

                <div id="img">
                    <img src="{{item.img}}" alt="">
                </div>

                <div class="input">
                    <input type="text" name="itemName" placeholder="Nombre del item" [(ngModel)]= "item.name">
                </div>

                <div class="input">
                    <input type="text" name="itemImg" placeholder="url de la Imagen del item" [(ngModel)]= "item.img">
                </div>

                <div class="input">
                    <input type="text" name="itemDescription" placeholder="descripcion del item" [(ngModel)]= "item.description">
                </div>

                <div class="input">
                    <input type="number" name="itemPrice" placeholder="precio del item" [(ngModel)]= "item.price">
                </div>

                <div class="btn-2" *ngIf="add" >
                    <button (click)="addItem()"  [ngStyle]="{'background':'#23ef89'}">añadir Item</button>
                </div>

                <div class="btn-2" *ngIf="update">
                    <button (click)="updateItem()">update Item</button>
                </div>

                <div class="btn-2" *ngIf="delete" >
                    <button (click)="deleteItem()" [ngStyle]="{'background':'#e43a3a'}">delete Item</button>
                </div>

            </div>

        </div>
    </div>
</div>
