<div class="body">
    
    <div class="block1">
        <div class="container1">
           <!--<app-sliderjs></app-sliderjs>-->
          
        </div>
        
        <div class="container1-2">
            <app-sliderjs></app-sliderjs>
        </div>

    </div>

    <div class="block2">
        <!--<button  class="icon-insta">
            <mat-icon svgIcon="instagram" class="icon"></mat-icon>
        </button>
         -->

        <div class="container2">
            <div id="division">
                <div id="category">
                    <div id="icon">
                        
                        <mat-icon svgIcon="electric" class="icon" ></mat-icon>
                        
                    </div>
                    <div id="title">
                        <div id="text">
                            <h1>
                                <p>
                                    Materiales para instalaciones eléctricas
                                </p>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div id="division">
                <div id="category">
                    <div id="icon">
                        
                        <mat-icon svgIcon="construction" class="icon"></mat-icon>
                        
                    </div>
                    <div id="title">
                        <div id="text">
                            <h1>
                                <p>
                                    Materiales para la construcción
                                </p>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div id="division">
                <div id="category">
                    <div id="icon">
                        
                        <mat-icon svgIcon="electrical-service" class="icon"></mat-icon>
                        
                    </div>
                    <div id="title">   
                        <div id="text">
                            <h1>
                                <p>
                                    Servicios de ingeniería eléctrica
                                </p>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class="block3">
       <div class="container3">

       </div>
        <div class="container3-1">

            <div class="sales-services">

                <div class="shipping">
                    <div class="img-shipping">
                        <mat-icon svgIcon="free-shipping2" class="sales-services-icon"></mat-icon>
                    </div>
                    <br>
                    <br>
                    <div class="text-shipping">
                        <h1>FREE SHIPPING!</h1>
                        <br>
                        <br>
                        <h3>We ship your products for FREE nationwide  </h3>
                    </div>
                </div>
                <div class="attention">
                    <div class="img-shipping">
                        <mat-icon svgIcon="Customer-Support" class="sales-services-icon2"></mat-icon>
                    </div>
                    <br>
                    <br>
                    <div class="text-shipping">
                        <h1>ONLINE CUSTOMER SUPPORT</h1>
                        <br>
                        <br>
                        <h3>If you have any questions or concerns contact us, one of <br> 
                            our representatives will assist you immediately </h3>
                    </div>
                </div>
                <div class="wholesale">
                    <div class="img-shipping">
                        <mat-icon svgIcon="boxes" class="sales-services-icon"></mat-icon>
                    </div>
                    <br>
                    <br>
                    <div class="text-shipping">
                        <h1>WHOLESALES</h1>
                        <br>
                        <br>
                        <h3>
                            check our wholesale prices</h3>
                    </div>
                </div>

            </div>
            
        </div>
        <div class="container3-2">

            <div class="icon-news">
                <mat-icon svgIcon="email" ></mat-icon>
            </div>

            <div class="icon-news-text">
                <h1>Newsletter  with our best products and <br>offers </h1>
                <h3>
                    sign up to receive a newsletter to your email with our latest products and offers</h3>

                <div class="input-email">
                    <input type="email">
                </div>
                <div>
                        <button>
                            Sign up
                        </button>
                </div>
            </div>
        </div>
   </div>
   <div class="block4">
        <div id="block4-icon">
            <mat-icon svgIcon="instagram" ></mat-icon>
        </div>
        <div id="block4-icon">
            <mat-icon svgIcon="whatsapp" ></mat-icon>
        </div>
        <div id="block4-icon">
            <mat-icon svgIcon="Customer-Support" ></mat-icon>
        </div>
   </div>
   
</div>
