<footer>
    <div class="container">
        <div class="footer-main">

            <div id="seccion">
                <h3><p>Menú</p> </h3>
                <ul>

                    <li><a href="#">item list 2</a></li>
                    <li><a routerLink="/itemlist"  >Items list</a></li>
                    <li><a href="#">Services</a></li>

                </ul>
            </div>

            
            <div id="seccion">
                <h3><p>Social</p></h3>
                <ul>

                    <li> <a href="">Instagram</a></li>
                    <li> <a href="">Facebook</a></li>
                    <li> <a href="">twitter</a></li>

                </ul>

            </div>


            <div id="seccion">
                <h3><p>Contacts</p></h3>
                <ul>

                    <li> <a href="">0123-1234567</a></li>
                    <li> <a href="">0123-1234567</a></li>
                    <li> <a href="">0123-1234567</a></li>

                </ul>

            </div>

            <div id="seccion">
                <h3><p>Cuenta</p></h3>
                <ul>

                    <li> <a href="">Access</a></li>
                    <li> <a href="">register</a></li>
                    

                </ul>

            </div>


            
        </div>

       

        <br>
        <div class="footer-secondary">

            <div class="Copyright">
                <hr width="80%" color="Gray" size="1px">
                <br>
                <p> Copyright © 3031 COMPANY & SERV., C.A. RIF J-12345678-9</p>
            </div>

        </div>
    </div>
</footer>
