<header>
    <div class="header-main">

        <div class="nav-side" >
            <a  (click)="changesidebar()"><mat-icon >menu</mat-icon></a>
        </div>
        

        <div class="logo">
            <a href="">
                <img src="" alt="">
            </a>
        </div>
        

        
        <app-nav-main></app-nav-main>
        


       
        <app-nav-search></app-nav-search>
        


        
        <app-nav-auth></app-nav-auth>
        

  
        
        <app-nav-cart></app-nav-cart>
        
        
        
    </div>
</header>
