header{
    box-shadow: 0px 10px 10px -6px rgb(59, 59, 59);
    
    
}
.header-main{
    display: flex;
    height: 10vh;
    
}

.nav-side{
    width: 8%;
    
    
}

.nav-side:hover{
    background-color: black;
}

a{
    text-decoration: none;
}

mat-icon{
    font-size: 36px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

mat-icon:hover{
    color: white;
}





.logo{
    width: 15%;
}

/*.nav-main{
    width: 30%;
}


.nav-search{
    width: 15%;
}

.nav-auth{
    width: 20%;
}

.nav-cart{
    width: 10%;
}
*/