.sidebar{
    height: 100%;
    background-color: #ffffff;
    
}

#nav-side{
    height: 10vh;
   
    display: flex;
}

mat-icon{
    margin-left: 33%;
    font-size: 36px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


