<div class="sidebar">
    <div id="nav-side" >
        <a  (click)="changesidebar()"><mat-icon >menu</mat-icon></a>
    </div>

    <br>
    <br>
    
    <div *ngIf="user">
        <ul >
            <p>Hola!! {{user.name}}</p>
            <li>
                dashboard 
            </li>
            <li>
                Configuración
            </li>

            <li *ngIf="user.admin">
                <ul >
              
                    <li>
                        <a routerLink="/addItem"> add item</a> 
                    </li>
                   
                    
                </ul>
            </li>
            
            <li>
                <a routerLink="/orders"> My orders</a> 
            </li>
            
            <li>
                <a href="" (click)="logout()">log out</a>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <ul>
        
        
        <li >
            <a  routerLink="/signin">
                Sign in
            </a>
        </li>
        <li >
            <a  routerLink="/signup">
                Sign up
            </a>
        </li>
        <li >
            <a routerLink="/item-list">
                Item list
            </a> 
        </li>
        
    </ul>
</div>
